<h1>Hi, <%= current_user.email %>!</h1>

<h3>Add an item</h3>
<%= render partial: "items/form" %>

<table class="table table-striped table-hover">
  <tr>
    <th>Item</th>
    <th>Time remaining</th>
    <th></th>
  </tr>
  <%= render current_user.items %>
</table>
