<li id="item-<%= item.id %>">
  <tr>
    <td><%= item.name %></td>
    <td><%= link_to "", user_item_path(current_user, item), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %></td>
    <td><%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %> left </td>
  </tr>
</li>
